.title {
  text-align: center;
  color: darkblue;
  font-family: fantasy;
  padding-top: 20px;
}

.mainFlex{
  display: flex;
}

.leftFlex{
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding: 10px 35px;
}

.rightFlex{
  display: flex;
  flex-direction: column;
  max-width: 40%;
  background-size: contain;
  padding: 10px 35px;
}

.colFlex{
  display: flex;
  flex-direction: column;
}

.rowFlex{
  display: flex;
  padding: 25px 30px;
}

.img{
  border-radius: 20px;
}

.line{
  height: 1px;
  background-color: darkgrey;
  border: none;
}

.leftMargin{
  margin-left: 35px;
}

.commentFlex{
  display: flex;
  justify-content: space-around;
  padding: 20px 25px;
}

.commentSectionDetails{
  display: flex;
  flex-direction: column;
  width: 15%;
  border: 1px ridge lightgrey;
  padding: 10px;
}

.commentSectionContent{
  display: flex;
  flex-direction: column;
  width: 85%;
}

.commentSectionBorder{
  border: 1px ridge lightgrey;
  padding: 10px;
}

.commentWidth{
  width: 35%;
}

.btn{
  width: 25%;
  color: white;
  font-weight: bold;
  background-color: coral;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.italicFont{
  font-style: italic;
}

.largeFont{
  font-size: 25px;
}

input:focus {background-color: lightgrey}
textarea:focus {background-color: lightgrey}