ul{
  margin: 0;
}

.title {
  text-align: center;
  color: darkblue;
  font-family: fantasy;
  padding-top: 20px;
}

.nav{
  background-color: crimson;
  padding: 25px;
}

.nav ul li {
  list-style: none;
  display: inline-block;
}

.nav ul li a{
  text-decoration: none;
  margin-right: 15px;
  font-size: 22px;
}

.active-link{
  color:#0aff0a;
  text-decoration: underline!important;
}